.BoardBody {
  background-color: #1764B4;
  position: fixed;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.BoardBodyHeader {
  padding: 8px;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  margin-left: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}

.UsersSearch {
  background: white;
  position: absolute;
  right: 9px;
  top: 45px;
  height: 400px;
  width: 700px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  overflow: hidden;
  border-radius: 5px;
  border: 1px solid grey;
}

.ManageMembers {
  font-size: 22px;
  font-weight: bold;
  width: 300px;
  border-bottom: 2px solid #26519A;
  text-align: center;
  color: #26519A;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.UsersSearchBody {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.Members {
  width: 50%;
  overflow-y: auto;
  border-right: 2px solid #26519A;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.NonMembers {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 50%;
}

.AddMembers {
  font-size: 16px;
  font-weight: bold;
  align-self: flex-end;
  width: 150px;
  text-align: right;
}

.NonMembers input {
  width: 200px;
  align-self: flex-end;
  outline: none;
  margin-bottom: 10px;
  border-radius: 2px;
  border: 1px solid #26519A;
}

.ResultList {
  height: 340px;
  width: 330px;
  overflow-y: auto;
  justify-content: flex-end;
}

.SearchResultItem {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 5px;
}

.SearchResultItem p {
  margin-right: 5px;
  font-size: 24px;
}

.SearchResultItem button {
  height: 30px;
  width: 30px;
  background-color: #33CC33;
  border-radius: 1px;
  border: none;
  line-height: 0px;
  font-size: 22px;
  color: white;
  cursor: pointer;
  outline: none;
}

.SearchResultItem button:hover {
  transition: background-color 0.5s ease;
  background-color: #4AA631;
}

.MemberItem {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 5px;
}

.MemberItem button {
  margin-right: 5px;
  height: 30px;
  width: 30px;
  background-color: crimson;
  border-radius: 1px;
  border: none;
  line-height: 0px;
  font-size: 28px;
  color: white;
  cursor: pointer;
  outline: none;
}

.MemberItem button:hover {
  transition: background-color 0.5s ease;
  background-color: red;
}

.MemberItem p {
  font-size: 24px;
}

.SearchReturn {
  position: absolute;
  top: 0px;
  right: 5px;
  z-index: 5;
  border: none;
  background: none;
  color: #8c8c8c;
  cursor: pointer;
  font-weight: lighter;
  font-size: 16px;
  outline: none;
}


.BoardBodyHeader h2 {
  color: white;
}


.BoardIndexBody {
  position: relative;
  white-space: normal;
  height: 90%;
  width: 110%;
  padding-bottom: 50px;
  overflow-x: scroll;
}

.BoardIndexBody ul {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  margin-left: 10px;
}
