.BoardBody {
  background-color: #1764B4;
  position: fixed;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.BoardBodyHeader {
  color: white;
  padding: 8px;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  margin-left: 10px;
}

.BoardIndexBody {
  position: relative;
  white-space: normal;
  height: 90%;
  width: 110%;
  padding-bottom: 50px;
  overflow-x: scroll;
}

.BoardIndexBody ul {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  margin-left: 10px;
}
