.BoardBody {
  background-color: #1764B4;
  position: fixed;
  min-height: 100%;
  width: 100%;
}

.BoardBodyHeader {
  color: white;
  padding: 8px;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
}

.BoardIndexBody {
  position: relative;
  overflow: hidden;
  white-space: nowrap;
}

.BoardIndexBody ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 20px;
  margin-left: 10px;

}
