.CardSlot {
  margin-bottom: 10px;
  cursor: pointer;
  background-color: #FFB6C1;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 10px;
}


.Card {
  color: black;
  background: white;
  max-width: 240px;
  min-height: 24px;
  height: 100%;
  padding: 8px;
  border-radius: 5px;
  white-space: normal;
  overflow: auto;
}


.placeholder {
  background: none;
  height: 20px;
}
