.homeBody {
  background-color: #EAEAEA;
  float: left;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 440px;
  justify-content: center;
  background: url(http://res.cloudinary.com/dmuuruew8/image/upload/b_rgb:7097e3,e_hue:80,o_15,q_100,r_0/v1478194601/Stakhanov_c8nemk.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.homeBody h2 {
  margin: 0 auto;
  color: white;
  text-align: center;
  width: 300px;
}

.homeBody p {
  margin: 0 auto;
  width: 300px;
  color: white;
  text-align: center;
}

.GuestButton {
  cursor: pointer;
  align-self: center;
  background-color: #4EAB33;
  box-shadow: 0 2px 0 rgba(0,0,0,0.3);
  margin: 0px 4px 0px;
  padding: 11.2px 20.8px;
  width: 120px;
  height: 50px;
  margin: 20px 0px;
  line-height: 0%;
  text-align: center;
  color: white;
  border-radius: .4em;
  font-size: 16px;
  font-weight: bold;
  font-family: "jaf-facitweb","Helvetica Neue",Arial,sans-serif;
}
