.homePage{
  display: flex;
  flex-direction: column;
  background: url(http://res.cloudinary.com/dmuuruew8/image/upload/b_rgb:1348ae,e_hue:80,o_19,q_100,r_0/v1478194601/Stakhanov_c8nemk.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100%;
  width: 100%;
  position: fixed;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}
