.ListSlot {
  margin: 10px;
  color: white;
  padding: 5px 0px 0px 0px;
  cursor: pointer;
  background: #D5D8E0;
  border-radius: 5px;
  height: 100%;
  min-width: 270px;
  max-width: 275px;
}

.ListTitle {
  margin-top: 10px;
  margin-left: 10px;
  width: 90%;
  min-height: 34px;
  color: black;
  font-weight: bold;
  white-space: normal;
  padding-bottom: 5px;
  min-width: 200px;
}

.List {
  height: 50%;
  position: relative;
}


.NewListWrapper {
  width: 270px;
  height: 40px;
  margin: 10px;
  display: relative;
  background: #00549B;
  border-radius: 3px;
}

.NewListButton {
  position: absolute;
  height: 40px;
  width: 270px;
  text-align: left;
  color: #A4C9E0;
  border: none;
  background: none;
  cursor: pointer;
  outline: none;
  padding-top: 6px;
}

.NewListButton:hover {
  background: #004175;
}

.NewListForm {
  height: 75px;
  display: none;
  flex-direction: column;
  position: relative;
  background: #D5D8E0;
  border-radius: 3px;
}

.NewListFormInput {
  border: 1px solid #CDD2D4;
  border-radius: 3px;
  background: #CED0D3;
  box-shadow: inset 0 1px 8px rgba(0,0,0,.15);
  margin-top: 5px;
  margin-left: 5px;
  width: 250px;
  height: 20px;
  outline: none;
  padding: 2px 5px;
  color: #4d4d4d;
}

.NewListFormSubmit {
  width: 50px;
  margin-top: 5px;
  margin-left: 5px;
  background: linear-gradient(to bottom,#61BD4F 0,#5AAC44 100%);
  box-shadow: 0 1px 0 #3F6F21;
  border: none;
  color: white;
  height: 30px;
  width: 60px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 3px;
  outline: none;
  cursor: pointer;
}


.NewListButtonOff {
  color: grey;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 35px;
  left: 70px;
  width: 20px;
  background: none;
  width: 30px;
  height: 20px;
  text-align: center;
  font-weight: lighter;
  font-size: 24px;
  text-decoration: none;
  transition: background-color 0.5s ease;
  outline: none;
}

.NewListButtonOff:hover {
  color: black;
}

.listDDButton {
  position: absolute;
  top: -8px;
  right: 8px;
  text-align: center;
  border-radius: 1px;
  width: 30px;
  height: 24px;
  line-height: 12px;
  color: #1764B4;
  font-weight: bolder;
  font-family: serif;
}

.listDDButton:hover {
  background-color: #C6C9C9;
  color: black;
  text-shadow: 1px 1px 1px white;
}

.ListDDReturn {
  position: absolute;
  top: 5px;
  right: 0px;
  text-align: center;
  height: 14px;
  width: 22px;
  font-size: 12px;
  line-height: 10px;
  border-radius: 1px;
  font-weight: 200;
}

.ListDDReturn:hover {
  font-weight: bold;
}

.editList {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  color: black;
  position: absolute;
  top: 10px;
  right: -170px;
  min-width: 200px;
  min-height: 80px;
  z-index: 1000;
  border-radius: 3px;
  background-color: white;
  border: solid 1px grey;
}

.editList h3 {
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
  border-bottom: black solid 1px;
  margin-bottom: 10px;
  margin-top: 10px;
  min-width: 150px;
  font-size: 14px;
  padding-bottom: 5px;
  font-weight: bold;
}

.deleteListButton {
  text-align: center;
  font-size: 16px;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bold;
}

.deleteListButton:hover {
  background: red;
  color: white;
}
